# Client Order 7 :: *ipynb solution draft* <br>

در گذشته شرکت سیاستی داشت که به سفارشات یک درجه اهمیت نسبت می‌داد و متناسب با آن در برخی مسائل (مانند نحوه ارسال و ….) متفاوت عمل می‌کرد، اما این قضیه در عمل، سختی‌هایی را به همراه دارد، برای همین از شما خواسته شده تا بررسی کنید که آیا این سیاست ارزش آن را دارد که شرکت این سختی‌ها را متحمل شود یا خیر؟

## Read Data

In [42]:
# Import libraries

import pandas as pd

from scipy.stats import f_oneway

In [43]:
# Read data / Clean version of sales_data.csv

df = pd.read_csv("sales_data_clean.csv")
df.head()

,Order_ID,Branch,Order_Date,Order_Priority,Manufacturer,Model_Name,Category,Screen_Size,RAM,OS,...,CPU_GHZ,Storage_SSD,Storage_HDD,Storage_Hybrid,Storage_Flash,Storage_Total,GPU_Brand,GPU_Model,Rating,Store
0,0,Hamedan,1396-10-26,H,Dell,Vostro 3568,Notebook,15.6,8,Windows,...,2.5,256,0,0,0,256,AMD,Radeon R5 M420,NaN,NaN
1,1,Kermanshah,1394-04-21,H,Lenovo,Yoga 720-13IKB,2 in 1 Convertible,13.3,8,Windows,...,2.5,256,0,0,0,256,Intel,HD Graphics 620,NaN,NaN
2,2,Rasht,1402-05-24,M,Lenovo,IdeaPad Y700-15ISK,Notebook,15.6,8,Windows,...,2.6,0,1024,0,0,1024,Nvidia,GeForce GTX 960M,NaN,NaN
3,3,Kermanshah,1397-06-17,H,Dell,Inspiron 5370,Ultrabook,13.3,8,Windows,...,1.8,256,0,0,0,256,AMD,Radeon 530,NaN,NaN
4,4,Karaj,1392-09-30,L,Acer,Aspire E5-576G,Notebook,15.6,4,Windows,...,2.5,256,0,0,0,256,Nvidia,GeForce 940MX,NaN,NaN

In [44]:
df.columns

Index(['Order_ID', 'Branch', 'Order_Date', 'Order_Priority', 'Manufacturer',
       'Model_Name', 'Category', 'Screen_Size', 'RAM', 'OS', 'OS_Version',
       'Weight', 'Price', 'Quantity', 'Discount', 'Total_Price', 'Profit',
       'Ship_Duration', 'Screen_Type', 'Screen_resolution', 'CPU_Brand',
       'CPU_Model', 'CPU_GHZ', 'Storage_SSD', 'Storage_HDD', 'Storage_Hybrid',
       'Storage_Flash', 'Storage_Total', 'GPU_Brand', 'GPU_Model', 'Rating',
       'Store'],
      dtype='object')

In [45]:
# Group data by Order_Priority and calculate mean values

grouped_data = (
    df.groupby("Order_Priority")[["Profit", "Discount", "Total_Price"]]
    .mean()
    .reset_index()
)
grouped_data

  Order_Priority        Profit  Discount   Total_Price
0              C  1.434891e+06  0.610885  1.441604e+07
1              H  1.437536e+06  0.604128  1.444811e+07
2              L  1.438762e+06  0.603519  1.443300e+07
3              M  1.445273e+06  0.601281  1.449652e+07

### Insights:
- Critical (C):
    - Average Profit:   1_434_891 IRT
    - Average Discount: 61%
    - Average Total Price: 14_416_040 IRT
- High (H):
    - Average Profit:   1_437_536 IRT
    - Average Discount: 60%
    - Average Total Price:  14_448_110 IRT
- Medium (M):
    - Average Profit:   1_438_762 IRT
    - Average Discount: 60%
    - Average Total Price:  14_433_000 IRT
- Low (L):
    - Average Profit:   1_445_273 IRT
    - Average Discount: 60%
    - Average Total Price:  14_496_520

In [46]:
# Splitting the data into groups based on Order_Priority for the 'Profit' metric

profit_group_C = df[df["Order_Priority"] == "C"]["Profit"]
profit_group_H = df[df["Order_Priority"] == "H"]["Profit"]
profit_group_L = df[df["Order_Priority"] == "L"]["Profit"]
profit_group_M = df[df["Order_Priority"] == "M"]["Profit"]

profit_group_C.size, profit_group_H.size, profit_group_L.size, profit_group_M.size

(51152, 152923, 406110, 406896)

In [47]:
# Performing the ANOVA test for 'Profit'

f_stat_profit, p_value_profit = f_oneway(profit_group_H, profit_group_L, profit_group_M)
f_stat_profit, p_value_profit

(1.5622736521064442, 0.20965936750334688)

> The relatively high p-value suggests that there isn't a statistically significant difference in the average profit across the different order priorities.

In [48]:
# Splitting the data into groups based on Order_Priority for the 'Discount' metric
# Performing the ANOVA test for 'Discount'

discount_group_C = df[df["Order_Priority"] == "C"]["Discount"]
discount_group_H = df[df["Order_Priority"] == "H"]["Discount"]
discount_group_L = df[df["Order_Priority"] == "L"]["Discount"]
discount_group_M = df[df["Order_Priority"] == "M"]["Discount"]

f_stat_discount, p_value_discount = f_oneway(
    discount_group_H, discount_group_L, discount_group_M
)
f_stat_discount, p_value_discount

(0.25459349756651745, 0.7752316193363384)

> The relatively high p-value suggests that there isn't a statistically significant difference in the discount rate across the different order priorities.

In [49]:
# Splitting the data into groups based on Order_Priority for the 'Total_Price' metric
# Performing the ANOVA test for 'Total_Price'

total_price_group_C = df[df["Order_Priority"] == "C"]["Total_Price"]
total_price_group_H = df[df["Order_Priority"] == "H"]["Total_Price"]
total_price_group_L = df[df["Order_Priority"] == "L"]["Total_Price"]
total_price_group_M = df[df["Order_Priority"] == "M"]["Total_Price"]

f_stat_total_price, p_value_total_price = f_oneway(
    total_price_group_H, total_price_group_L, total_price_group_M
)
f_stat_total_price, p_value_total_price

(1.2342868266055282, 0.29104271115940095)

> The relatively high p-value suggests that there isn't a statistically significant difference in the total price across the different order priorities.

### Conclusion:
> Based on the results of the statistical tests and the data provided there isn't a statistically significant difference in the Profit, Discount, and Total_Price across the different order priorities; Thus, this is not a value generating policy for the company.